<div class="confirmation hidden">
  <div class="confirmation__body flex">
    <img src="/src/scss/icons/homer.png" alt="<%= __('confirmation-img-alt') %>">
    <article>
      <p class="confirmation__body__msg"><%= __('confirmation-body-msg') %></p>
      <p class="confirmation__body__comment"><%= __('confirmation-body-comment') %></p>
      <p class="confirmation__body__cancel"><%= __('confirmation-body-cancel') %></p>
    </article>
  </div>
</div>
