<div class="confirmation hidden">
  <div class="confirmation__body flex">
    <img src="/src/scss/icons/homer.png" alt="Homer Simpson criant Hourra">
    <article>
      <p class="confirmation__body__msg"><%= __('confirmation__body__msg') %></p>
      <p class="confirmation__body__comment"><%= __('confirmation__body__comment') %></p>
      <p class="confirmation__body__cancel"><%= __('confirmation__body__cancel') %></p>
    </article>
  </div>
</div>
